body {  
    color:purple; 
    background-color: azure; 
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    margin-left: 10%;
    margin-right: 10%;
}
h1 {   
    width: fit-content;
    font-family: fantasy, sans-serif;
    text-shadow: .1em .1em lightblue;
}
h2 {
    background-color: thistle; 
    width: fit-content;
}
h1, h2 {
    font-style: italic;
    color : darkblue;
}
em, p strong {
    background-color: lightpink;
}
strong {
    font-weight: 700;
}
p, div.buttontest {
    font-family: "Brush Script MT", sans-serif;
    text-align: justify;
}
img.contentimg, img#remy {
    width: 15%;
    border-style: double;
    border-width: 10px;
    color: gold;
    float:right;
    margin-left: 0.75em;
}
a:link {  
    color:mediumorchid;  
}
a:visited {  
    color: mediumvioletred;  
}
a:hover {
    color: red;
}
a:active {
    color: royalblue
}
p.characters {
    font-style: italic;
    padding: 0px 50px;
}
img#dugimagehome {
    width: 98%;
    border-style: double;
    border-width: 10px;
    color: gold;
}
h1#homepageheading {
    font-size: 5em;
    font-style: normal;
    margin-right:auto;
    margin-left:auto;
    margin-top: .1em;
    margin-bottom: .1em ;
}
div.paragraphs {
    color: royalblue;
    padding: 0px 50px;
}
div#homepagelinks {
    padding: 25px;
    padding-left: 0px;
}
button#thebutton,button#anotherbutton, button#imgbutton {
    color: purple;
    background-color: lightskyblue;
    font-size: 1.5em;
}
div.header {  
    display:flex; 
    border: mediumorchid;
    border-style: dotted;
    margin:0% 8%;
    justify-content: center;
}
div.header, div.footer {
    background-color: lightskyblue;
}
div.headerstuff {
    padding:2.5%;
    font-size: 1.5em;
}
div.footer {
    display:flex;
    flex-direction: column ;
    border-style: dotted;
    padding: 15px;
}
div.footerstuff {
    color: black;
}

input#myinput {
    color: lightskyblue;
    background-color: purple;
    font-size: 1.5em;
}
img#olafimage {
    display:none;
}
img#remy {
    width: 5%;
}
@media (max-width: 815px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 0.8em;
    }
    div.paragraphs, p.characters {
        padding: 0px 10px;
    }
    img#dugimagehome {
        width: 94%;
    }
}
@media (max-width: 1025px) {
    div.headerstuff, button#thebutton, button#anotherbutton, button#imgbutton, input#myinput {
        font-size: .9em;
    }    
}
@media (orientation: portrait) {
    div.header {
        margin: 0%;
    }
}
@media (orientation: landscape) {
    body {
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
    p.characters, div.paragraphs {
        padding: 0px 25px;
    }
    img#dugimghome {
        width: 94%;
    }
    div.headerstuff {
        font-size: 1.5em;
    }
  }
