body {  
    color:purple; 
    background-color: azure; 
    font-family: "Times New Roman", Times, serif;
    font-size:1.5em;
    margin-left: 15%;
    margin-right: 15%;
}
h1 {   
    width: fit-content;
    font-family: fantasy, sans-serif;
    text-shadow: .1em .1em lightblue;
}
h2 {
    background-color: thistle; 
    width: fit-content;
}
h1, h2 {
    font-style: italic;
    color : darkblue;
}
em, p strong {
    background-color: lightpink;
}
strong {
    font-weight: 700;
}
p {
    font-family: "Brush Script MT", sans-serif;
    text-align: justify;
}
img {
    width: 20%;
    border-style: double;
    border-width: 10px;
    color: gold;
    float:right;
}
a:link {  
    color:mediumorchid;  
}
a:visited {  
    color: mediumvioletred;  
}
a:hover {
    color: red;
}
a:active {
    color: royalblue
}
p.characters {
    font-style: italic;
    padding: 0px 50px;
}
img#dugimagehome {
    width: 100%;;
}
h1#homepageheading {
    font-size: 5em;
    font-style: normal;
    margin-right:auto;
    margin-left:auto;
    margin-top: .1em;
    margin-bottom: .1em ;
}
div.paragraphs {
    color: royalblue;
    padding: 0px 50px;
}
div#homepagelinks {
    padding: 25px;
    padding-left: 0px;
}

div.header {  
    display:flex; 
    border: mediumorchid;
    border-style: dotted;
    margin:0% 15%;
    justify-content: center;
    justify-content:space-between; 
}
div.header, div.footer {
    background-color: lightskyblue;
}
div.headerstuff {
    padding:2.5%;
}
div.footer {
    display:flex;
    flex-direction: column ;
    border-style: dotted;
    padding: 15px;
}
div.footerstuff {
    color: black;
}
