body {  
    color:darkgreen; 
    background-color: lavenderblush; 
    font-size:large;
}
h1 {  
    color:darkblue;  
}
h2 {
    color: darkmagenta;
    background-color: thistle; 
    width: fit-content;
}
em {
    background-color: skyblue;
}
strong {
    background-color: lightsalmon;
}